.song {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    .img {
        border-radius: 0.2em;
    }

    .title {
        max-width: 20ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
